@media screen and (max-width: 1100px){
    .Trade.container{
        padding:1rem 0 5rem;
    }
    .Trade .content{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /*api info*/
    .Trade .content .companies{
        width: 100%;
    }
    .Trade .content .api-info{
        width: 100%;
        margin-bottom: 2em;
    }
    .Trade .content .api-info div{
        flex-wrap: nowrap;
    }
    .Trade .content .api-info div span{
        width: auto;
    }
    .Trade .content .api-info div span.volume{
        margin-left: 2.5em;
        margin-top: 0;
    }

    .Trade .content .companies a.circle-comp{
        width: 30%;
        height: 90px;
        border-radius: 1em;
    }
    .Trade .content .companies a.circle-comp img{
        width: 50%;
        max-height: 50px;
    }
}

@media screen and (max-width: 420px){
    /*api*/
    .Trade .content .api-info div{
        flex-wrap: wrap;
        margin: 1em 0 0 1em;
    }
    .Trade .content .api-info div span.volume{
        width: 100%;
        margin-top: 1em;
        margin-left: 0;
    }

    /*krugi*/
    .Trade .content .companies a.circle-comp{
        width: 45%;
        height: 70px;
    }
    .Trade .content .companies a.circle-comp img{
        width: 60%;
        max-height: 35px;
    }
}