.InfoYears{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 6em .5% 12em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    /*background: goldenrod;*/
}
.InfoYears .slider{
    width: 90%;
    display: flex;
    justify-content: space-between;
}


.bg-info-years{
    width: 100%;
    position: absolute;
    top: 15em;
}

button.arrow-but{
    background: none;
    border: none;
    padding: 0 1em;
    transition: .3s;
    opacity: .7;
}
button.arrow-but:disabled{
    opacity: .2;
}
button.arrow-but:hover{
    opacity: 1;
    background: none;
    border: none;
}
button.arrow-but:disabled:hover{
    cursor: default;
    opacity: .2;
}

.InfoYears .block{
    width: calc(25% - 4em);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    transition: .3s;
    /*background: rgba(255, 255, 255, 0.28);*/
}
.InfoYears .block span,
.InfoYears .block p{
    width: 100%;
    text-align: center;
}
.InfoYears .block span{
    font-size: 3.1em;
    font-weight: 900;
    margin-bottom: .5em;
}
.InfoYears .block p.title{
    color: var(--white);
}
.InfoYears .block p.title.active{
    color: var(--but-nav);
}

.InfoYears .line{
    margin-top: 2.2em;
    width: 3em;
    height: 1px;
    background:#43454F;
}
.InfoYears .line:last-child{
    display: none;
}