.MetamaskModal{
    z-index: 10000;
    width: 20em;
    position: absolute;
    top: 4.5em;
    right: 8em;
    background: linear-gradient(317.34deg, #1D1F2F 7.43%, #212331 90.42%);
    border-radius: .4em;
    transition: .3s;
}
.MetamaskModal .bg-container{
    width: inherit;
    height: inherit;
    background-image: url("/public/images/about/bg.svg");
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: 0 -50%;
}

/*container for content*/
.MetamaskModal .content{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1.5em 2em;
}

.MetamaskModal .content header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.MetamaskModal .content header .block{
    width: 100%;
    margin: 0;
    height: auto;
    padding: .8em;
    background: var(--op);
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.MetamaskModal .content header .block.acc{
    margin: .6em 0;
}
.MetamaskModal .content header .block span{
    display: flex;
    align-items: flex-end;
}
.MetamaskModal .content header h6{
    font-size: .75em;
    font-weight: 400;
    margin: 0;
    color: var(--white);
}
.MetamaskModal .content header .block p{
    font-size: .85em;
    margin: 0 0 -.13em .5em;
    color: var(--but-nav);
    transition: .3s;
}
.MetamaskModal .content header .block.acc p{
    margin: 0 0 -.13em 0;
}

.MetamaskModal .block{
    width: 100%;
    margin-bottom: 1.5em;
    /*background: rgba(255, 0, 0, 0.1);*/
}

.MetamaskModal .block .text{
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: .2em;
}

/*for info button*/
.MetamaskModal .block .text img.info{
    cursor: pointer;
    margin-left: .5em;
    height: 1em;
    transition: .3s;
}
.MetamaskModal .block .text img.info:hover{
    opacity: .5;
}

.MetamaskModal .block .text .circle{
    width: 2.2em;
    height: 2.2em;
    margin-right: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 50%;
    color: var(--white);
    background: linear-gradient(5.67deg, #2A706B -5.62%, #16637A 99.74%);

}
.MetamaskModal .block .text p{
    font-weight: 300;
    color: var(--white);
    padding: 0;
    margin: 0;
}

/*button block inner*/
.MetamaskModal .block button {
    height: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: 20%;
    color: var(--white);
    background: var(--but-blue);
    border: none;
    padding: 10px 0;
    transition: .3s;
}
/*button with success arrow*/
.MetamaskModal .block button img{
    cursor: inherit;
}
/*button with logo*/
.MetamaskModal .block button.add{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(4, 202, 115, 0.1);
}
.MetamaskModal .block button.add img{
    height: 1.4em;
}
.MetamaskModal .block button:hover{
    background: var(--but-blue-hover);
}
.MetamaskModal .block button.add:hover{
    background: rgba(4, 202, 115, 0.3);
}


/*button connect blue*/
.MetamaskModal button.connect{
    color: var(--white);
    border-radius: .2em;
    padding: .7em 2em;
    border: none;
    background: var(--but-blue);
    transition: .3s;
}
.MetamaskModal button.connect:hover{
    padding: .7em 3em;
    background: var(--but-blue-hover);
}

/*errors or res p*/
.res-mm-conn{
    width: 100%;
    text-align: right;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    color: var(--white);
    font-size: .8em;
    font-weight: 300;
}