.InfoYearsModal .modal-content{
    padding: 1em;
    background: var(--bg-black);
    color: var(--white);
}
.InfoYearsModal .modal-header{
    border-bottom: none;
}

.InfoYearsModal .modal-body h5{
    font-weight: 300;
}
.InfoYearsModal .modal-body p{
    font-size: .9em;
    font-weight: 300;
    color: var(--white-op-80);
}

.InfoYearsModal .modal-body hr{
    margin-top: 0;
    width: 30%;
}

.InfoYearsModal .btn-close{
    background: url("/public/images/general/x.svg") center/1.5em auto no-repeat;
}