@media screen and (max-width: 1100px){
    .Contacts{
        flex-wrap: wrap;
    }
    .form-text,
    .social-icons-container{
        width: 100%;
    }
    a.soc-link{
        max-width: 150px;
    }
}
@media screen and (max-width: 550px){
    .form-text{
        margin-bottom: 1em;
    }
    a.soc-link img{height: 20px;}
    a.soc-link{
        width: 30%;
        max-width: 10000px;
        height: 35px;
        margin: .3em;
    }
}