@media screen and (max-width: 1500px){
    .FormContact.container form{
        width: 40%;
    }
}

@media screen and (max-width: 1000px){
    .FormContact.container form{
        width: 60%;
    }

    .FormContact.container form h5{
        font-size: 1.1em;
        font-weight: 400;
    }

    /*inputs*/
    .FormContact.container form input,
    .FormContact.container form textarea{
        font-size: .9em;
    }

    /*button*/
    .FormContact.container form button{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 500px){
    .FormContact.container form{
        width: 100%;
    }
    .FormContact.container .error-p,
    .FormContact.container .success-p{
        font-size: .9em;
    }
}