@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
}

:root{
    --offcanvas:#10101C;
    --footer-p:#484B64;
    --bg-black:#181928;
    --compan-block:#1C1E2D;
    --dropdown: #1F2134;
    --compan-block-hover: #26283a;
    --op: rgba(0, 0, 0, 0.2);
    --op-full: rgba(0, 0, 0, 0);
    --white: #FFF;
    --white-op-80: rgba(255, 255, 255, 0.8);
    --white-op-50: rgba(255, 255, 255, 0.5);
    --white-op-20: rgba(255, 255, 255, 0.2);
    --link-nav:#797A8A;
    --gray:#848696;
    --but-nav:#22E790;
    --but-nav-hover: #00ff8b;
    --but-blue:#0084F9;
    --but-blue-hover: #38a0ff;
}

body{
    background: var(--bg-black);
}

/*font-sizes*/
a,button,li,p{
    font-size: .9em;
}
h1{
    font-size: 3em;
    font-weight: 700;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.7em;
}
h6{
    font-size: 1.1em;
}
@media screen and (max-width: 1500px){
    h1{font-size: 2.3em;}
    h3{font-size: 1.7em;}
    h4{font-size: 1.4em;}
    h6{font-size: 1em;}
    a,button,li,p{
        font-size: .8em;
    }
}
@media screen and (max-width: 1000px){
    h1{font-size: 2em;}
    h3{font-size: 1.5em;}
    h4{font-size: 1.2em;}
    h6{font-size: .9em;}
}
@media screen and (max-width: 700px){
    h1{font-size: 1.4em;}
    h3{font-size: 1.2em;}
    h4{font-size: 1em;}
    h6{font-size: .8em;}
}

/*container for blocks*/
.container{
    width: 80%;
    margin: auto;
    padding: 0;
}
@media screen and (max-width: 1200px){
    .container{
        width: 95%;
        max-width: 95%;
    }
}